.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/assets/landing.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.title-wrapper {
  margin-top: 190px;
}

.sub-title {
  text-align: center;
  color:#ffb700;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .2em;
}

.title {
  text-align: center;
  font-size: 20px;
  letter-spacing: .25em;
}

.catchcopy {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
  line-height: 18px;
  font-size: 14px;
  color: #9b9b9b;
}

.survey-btn {
  margin-top: 100px;
  background-color: #fac800;
  color: white;
  border-radius: 20px;
  padding: 8px 45px;
}
