header {
  height: 60px;
  width: 100vw;
  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0;

  background-color: #FAC800;
  color: #fff;

}

.back-arrow {
  height: 18px;
  width: 18px;
  border: 0.4vmin solid;
  border-color: #fff #fff transparent transparent;
  transform: rotate(225deg);
  position: absolute;
  left: 20px;
  top: 20px;
}

.notification {
  height: 18px;
  width: 18px;
  border-color: #3f3f3f #3f3f3f transparent transparent;
  position: absolute;
  right: 20px;
  top: 20px;
}

.logo {
  margin: 0 auto;
  line-height: 60px;
}
