header {
  height: 60px;
  width: 100vw;
  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0;

  background-color: whitesmoke;

}

.back-arrow {
  height: 5vmin;
  width: 5vmin;
  border: 0.4vmin solid;
  border-color: #3f3f3f #3f3f3f transparent transparent;
  transform: rotate(225deg);
  position: absolute;
  left: 5vmin;
  top: 4.5vmin;
}

.notification {
  height: 5vmin;
  width: 5vmin;
  border-color: #3f3f3f #3f3f3f transparent transparent;
  position: absolute;
  right: 5vmin;
  top: 4.5vmin;
}

.logo {
  margin: 0 auto;
  line-height: 60px;
}
