*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ebebe9;
}
.main {
  padding-top: 60px;
  padding-bottom: 80px;
  // コンフリクトしてたので残す。最適な方を使う
  //   padding-bottom: 90px;
}

