.wrap{
  padding-top: 30px;
  width: 354px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.home-slim-users {
  /* 横スクロール用 */
  width: 160px;
  height: 160px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px;
  background-color: #fff;
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,.2));
}

.card-slim-container {
  width: 160px;
  height: 160px;
  position: relative;
}

.user-slim-img {
  background-size: cover;
  width: 160px;
  height: 160px;
  object-fit: cover;
  display: flex;
  align-items: flex-end;
}
.rate-box{
  position: absolute;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  opacity: 0.21;
  background-image: linear-gradient(to bottom, #ffffff, #000000);
}
.matching-rate{
  padding: 0 25px;
  position: absolute;
  color: #fff;
  height: 18px;
  line-height: 18px;
}
.rate-heart{
  position: absolute;
  background-image: url('/assets/rate_heart.png');
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-size: cover;
}


.d-flex { display: flex; }
.flex-row { flex-direction: row; }
.mt-1 { margin-top: 10px; }
.w-100 { width: 50%; }
