.screen {
  height: 100vh;
  background: white;
}

.logo {
  height: 50%;
  width: 100vw;
  text-align:center;
  line-height: 50vh;
  background-image: url('/assets/mag.png');
  background-color: #fac800;
  background-position: center;
  background-size: contain;

}

.login-container {
  height: 30%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 319px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #dddddd;
  background-color: #e1e1e1;
  margin-bottom: 10px;
}

.login-btn {
  margin-top: 10px;
  width: 189px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 3px 4px 0 rgba(223, 223, 223, 0.5);
  background-color: #fac800;
  color: white;
  font-family: HiraginoSans-W6;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.register-footer {
  position: fixed;
  bottom: 0px;
  width: 375px;
  height: 7%;
  box-shadow: 0 -1px 6px 0 rgba(223, 223, 223, 0.5);
  background-color: #ffffff;
  text-align: center;
  line-height: 40px;
}

.register-btn {
  height: 18px;
  height: 100%;
  margin-top: 4px;
  font-family: HiraginoSans-W6;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffb700;
}

// ====================================
// https://codepen.io/leogono/pen/EPeVgz?editors=1100
// ====================================
