.tabs{
  width: 340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}
.tab-item{
  width: 160px;
  height: 30px;
  font-size: 18px;
  text-align: center;
}
.tab-item[active]{
  color: blue;
  border-bottom: 2px solid blue;
}