h2{
  padding: 20px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3f3f3f;
}

.wrap {
  margin: 0 auto;
  width: 343px;
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 rgba(206, 206, 206, 0.5);
  border: solid 1px #dddddd;
  background-color: #ffffff;
  color: #3f3f3f;
  padding: 0 10px 24px;
  margin-bottom: 20px;
}

.text-form {
  padding-top: 5px;
  width: 155px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #dddddd;
  background-color: #ffffff;
  padding-left: 10px;
}
.text-form-long{
  width: 319px;
}
select {
  width: 101px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #dddddd;
  background-color: #ffffff;
}
.hissu {
  width: 33px;
  height: 11px;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffb700;
}
.label {
  width: 79px;
  height: 16px;
  font-family: HiraginoSans-W6;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3f3f3f;
}

.label-box{
  padding-top: 24px;
}

.btn {
  display: block;
  margin: 24px auto 0;
  color: #fff;
  border: 0;
  width: 165px;
  height: 40px;
  border-radius: 39px;
  box-shadow: 0 3px 4px 0 rgba(223, 223, 223, 0.5);
  background-color: #fac800;
}

.radio-form {
  display: inline-block;
  padding-top: 5px;
  width: 70px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px #dddddd;
  background-color: #ffffff;
  padding: 0 10px;
}



.radio02-input{
  display: none;
}
.radio02-input + label{
  padding-left: 20px;
  position:relative;
}
.radio02-input + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}
.radio02-input:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #ffb700;
  border-radius: 50%;
}