<!DOCTYPE html>
<html>
  <head>
    <title>Agell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>

  </head>

  <body style="margin: 0;">
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
