<!DOCTYPE html>
<html>
  <head>
    <title>Agell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body style="margin: 0";>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
